[Unit]
Description=EdgeOS Agent Updater
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/edgeos/bin/edge-agent-updater.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target 