[Unit]
Description=EdgeOS USB Override - Clean up NVIDIA USB gadget
After=systemd-modules-load.service
After=local-fs.target
Before=network-pre.target
Before=edgeos-usbgadget.service
DefaultDependencies=false
Conflicts=nv-l4t-usb-device-mode.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/edgeos-usb-override.sh
RemainAfterExit=yes
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=sysinit.target
