[Unit]
Description=EdgeOS USB Gadget
After=edgeos-usb-override.service
Requires=edgeos-usb-override.service
Before=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/edgeos-usbgadget-init.sh

[Install]
WantedBy=network.target
