
[Unit]
Description=Bind USB Gadget to %I
After=usb-gadget-prepare.service systemd-networkd.service
Requires=usb-gadget-prepare.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/usb-gadget.sh bind %I
ExecStartPost=/usr/libexec/usb0-force-up
